.searchBar {
  padding: 45px 0 70px 0;
  background-color: black;
}

.link {
  font-size: 22px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}

.form {
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
}

.input {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 500px;
  border-radius: 100px;
  outline: none;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #bb0808;
  color: white;
  border: none;
  border-radius: 100px;
  transition:
    background-color 0.4s ease,
    transform 0.4s ease;
}

.button:hover {
  background-color: #5400b5;
  transform: scale(0.95);
}

.x {
  color: #ff0202;
  font-size: 25px;
}

@media (max-width: 500px) {
  .searchBar {
    padding: 30px 0 45px 0;
  }
}
