.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  width: 75vw;
  display: flex;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.image {
  width: 450px;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 10px 0 0 10px;
}

.content {
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  padding: 40px;
  overflow-y: auto;
  max-height: 50%;
  display: flex;
  border-radius: 0 10px 10px 0;
  flex-direction: column;
  gap: 15px;
}

.content h2 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
}

.content p {
  margin: 0;
  font-size: 20px;
  line-height: 1.4;
}

.content h3,
.content strong {
  font-weight: 600;
  font-size: 21px;
  color: black;
}

.content h3 {
  margin-bottom: 5px;
}

.closeButton {
  position: absolute;
  outline: none;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeButton::before {
  content: '';
  position: absolute;
  top: 18px;
  width: 20px;
  height: 4px;
  border-radius: 2px;
  background-color: black;
  transform: rotate(45deg);
}

.closeButton::after {
  content: '';
  position: absolute;
  top: 18px;
  width: 20px;
  height: 4px;
  border-radius: 2px;
  background-color: black;
  transform: rotate(-45deg);
}
